{{ define "header" }}
  <header class="header-section">
    <div class="intro-header no-img">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="page-heading">
            <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}
{{ define "main" }}
  <div class="columns" role="main">
    <div class="column is-8 is-offset-2">
      {{ with .Content }}
        <div class="well">
          {{.}}
        </div>
      {{ end }}
      <div class="posts-list">
        {{ range .Paginator.Pages }}
                      {{ .Render "summary" }}
        {{ end }}
      </div>
      {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        <nav class="pagination" role="navigation" aria-label="navigation">
          {{ if .Paginator.HasPrev }}
            <a class="pagination-next" href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">{{ i18n "newerPosts" }} &rarr;</a>
          {{ else }}
            <a class="pagination-next" disabled>{{ i18n "newerPosts" }} &rarr;</a>
          {{ end }}
          {{ if .Paginator.HasNext }}
            <a class="pagination-previous" href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/"> &larr;{{ i18n "olderPosts" }}</a>
          {{ else }}
            <a class="pagination-previous" disabled> &larr;{{ i18n "olderPosts" }}</a>
          {{ end }}
        </nav>
      {{ end }}
    </div>
  </div>
{{ end }}
