{{ define "main" }}
<div class="columns" role="main">
  <div class="column is-8 is-offset-2">
    <article role="main" class="blog-post">
      {{ .Content }}

      {{ if .Params.t }}
        <div class="blog-tags">
          {{ range sort .Params.t }}
            <a href="{{ $.Site.LanguagePrefix | absURL }}/t/{{ . | urlize }}/">{{ . }}</a>&nbsp;
          {{ end }}
        </div>
      {{ end }}

      {{ if $.Param "socialShare" }}
          <hr/>
          <section id="social-share">
            <div class="list-inline footer-links">
              {{ partial "share-links" . }}
            </div>
          </section>
      {{ end }}

      {{ if .Site.Params.showRelatedPosts }}
        {{ $related := .Site.RegularPages.Related . | first 3 }}
        {{ with $related }}
        <h4 class="see-also">{{ i18n "seeAlso" }}</h4>
        <ul>
        {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
        {{ end }}
      {{ end }}
    </article>

    {{ if ne .Type "page" }}
      <nav class="pagination" role="navigation" aria-label="navigation">
        {{ if .PrevInSection }}
          <a class="pagination-previous" href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
        {{ else }}
          <a class="pagination-previous" data-toggle="tooltip" data-placement="top" disabled>&larr; {{ i18n "previousPost" }}</a>
        {{ end }}
        {{ if .NextInSection }}
          <a class="pagination-next" href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
        {{ else }}
          <a class="pagination-next" data-toggle="tooltip" data-placement="top" disabled>{{ i18n "nextPost" }} &rarr;</a>
        {{ end }}
      </nav>
      <ul class="pager blog-pager">
          <li class="previous">
          </li>
          <li class="next">
          </li>
      </ul>
    {{ end }}
  </div>
</div>
{{ end }}
