{{- $thumb := .Params.image | default "img/default_thumb.jpg" -}}
{{- $webpThumb := (replaceRE "(\\.jpg|\\.png)" ".webp" $thumb) -}}
{{- $avifThumb := (replaceRE "(\\.jpg|\\.png)" ".avif" $thumb) -}}

{{- $thumbURI := printf "static/%s" $thumb -}}
{{- $webpURI := printf "static/%s" $webpThumb -}}
{{- $avifURI := printf "static/%s" $avifThumb -}}

{{- $thumbStats := os.Stat $thumbURI }}
{{- $thumbSize := $thumbStats.Size}}
{{- $webpSize := 0}}
{{- if fileExists $webpURI }}
    {{- $webpStats := os.Stat $webpURI }}
    {{- $webpSize :=  $webpStats.Size }}
{{ end }}
{{- $avifSize := 0}}
{{- if fileExists $avifURI }}
    {{- $avifStats := os.Stat $avifURI }}
    {{- $avifSize :=  $avifStats.Size }}
{{ end }}
<article class="post-preview">
	<div class="thumb">
		<picture>
{{- if and (fileExists $avifURI) (lt $avifSize $thumbSize) }}
	{{- if or (not (fileExists $webpURI)) (lt $avifSize $webpSize) }}
			<source srcset="{{ .Site.BaseURL }}/{{ $avifThumb }}" type="image/avif">
	{{ end }}
{{ end }}
{{- if and (fileExists $webpURI) (lt $webpSize $thumbSize) }}
			<source srcset="{{ .Site.BaseURL }}/{{ $webpThumb }}" type="image/webp">
{{ end }}
			<source srcset="{{ .Site.BaseURL }}/{{ $thumb }}" type="image/{{- if findRE "\\.jpe?g" $thumb }}jpeg{{- else }}png{{- end }}">
			<img src="{{ .Site.BaseURL }}/{{ $thumb }}" alt="{{ .Params.alt }}">
		</picture>
	</div>
	<div class="post-preview-header-container">
		<div class="post-preview-header">
			<a href="{{ .Permalink }}">
				{{ if .Params.t }}
				<h3 class="post-subtitle">
					{{ index .Params.t 0 | humanize }}
				</h3>
				{{ end }}
				<h2 class="post-title">{{ .Title }}</h2>
			</a>
			{{ partialCached "post_meta.html" . .Permalink }}
		</div>
	</div>
</article>

