{{ define "main" }}

{{ $data := .Data }}

<div class="columns" role="main">
  <div class="column is-8 is-offset-2"> 
    <article class="post-preview">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {{ range $key, $value := .Data.Terms.ByCount }}
          <div class="panel panel-default">
            <a href="{{ $.Site.LanguagePrefix | absURL }}/{{ $data.Plural }}/{{ $value.Name | urlize }}/">
                <h4 class="panel-title">
                    {{ $value.Name }} <span class="badge">{{ $value.Count }}</span>
                </h4>
            </a>
          </div>
        {{ end }}
      </div>
    </article>
  </div>
</div>


{{ end }}
