/* --- Fonts --- */

@font-face {
  font-family: CharisSILW;
  font-display: swap;
  src: local('Charis SIL'), local('Charis-SIL'), local('CharisSIL'), url(../font/CharisSIL-R.woff2);
}

@font-face {
  font-family: CharisSILW;
  font-style: italic;
  font-display: swap;
  src: local('Charis SIL Italic'), local('Charis-SIL-Italic'), local('CharisSILItalic'), url(../font/CharisSIL-I.woff2);
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  font-display: swap;
  src: local('Charis SIL Bold'), local('Charis-SIL-Bold'), local('CharisSILBold'), url(../font/CharisSIL-B.woff2);
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: local('Charis SIL Bold Italic'), local('Charis-SIL-BoldItalic'), local('CharisSILBoldItalic'), url(../font/CharisSIL-BI.woff2);
}

@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: local('Fira Sans'), local('FiraSans'), local('Fira-Sans'), url(../font/FiraSans-Regular.woff2);
}

@font-face {
  font-family: FiraSans;
  font-style: italic;
  font-display: swap;
  src: local('Fira Sans Italic'), local('FiraSansItalic'), local('Fira-Sans-Italic'), url(../font/FiraSans-Italic.woff2);
}

@font-face {
  font-family: FiraSans;
  font-weight: bold;
  font-display: swap;
  src: local('Fira Sans Bold'), local('FiraSansBold'), local('Fira-Sans-Bold'), url(../font/FiraSans-Bold.woff2);
}

@font-face {
  font-family: FiraSans;
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: local('Fira Sans Bold Italic'), local('FiraSansBoldItalic'), local('Fira-Sans-BoldItalic'), url(../font/FiraSans-BoldItalic.woff2);
}

@font-face {
  font-family: FiraSans;
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: local('Fira Sans Bold Italic'), local('FiraSansBoldItalic'), local('Fira-Sans-BoldItalic'), url(../font/FiraSans-BoldItalic.woff2);
}

@font-face {
  font-family: FiraCode;
  font-display: swap;
  src: local('Fira Code VF'), local('FiraCodeVF'), url(../font/FiraCode-VF.woff2);
}
