/*
Put this file in /static/css/hugo-easy-gallery.css
Documentation and licence at https://github.com/liwenyip/hugo-easy-gallery/
*/

/*
Grid Layout Styles
*/
.gallery {
	/*--min-width: 32%;*/
	--row-height: 23vh;
	margin: -0.25rem;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: center;
	align-items: flex-end;
}

@media only screen and (max-height: 1044px) {
.gallery {
	--row-height: 240px;
}
}

.gallery .box {
	--ratio: calc(var(--w) / var(--h));
	flex-grow: calc(var(--ratio) * 100);
	flex-shrink: calc(var(--ratio) * 100);
	flex-basis: calc(var(--ratio) * var(--row-height));
	margin: 0.25rem;
	/*min-width: var(--min-width);*/
	min-height: calc(0.7 * var(--row-height));
}

.container-gallery .gallery .box {
	margin: 0.5rem;
}

.gallery .box > figure {
	display: block;
	width: 100%;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	/*max-height: var(--max-row-height);*/
	object-fit: cover;
}

.gallery + .box {
	margin-top: calc(0.5rem);
}

.gallery + .gallery {
	margin-top: calc(0.25rem);
}

.box + .gallery {
	margin-top: calc(0.25rem - 10px);
}

/*
Transition styles
*/
.gallery.hover-transition figure,
.gallery.hover-effect-zoom .img,
.gallery:not(.caption-effect-appear) figcaption,
.fancy-figure:not(.caption-effect-appear) figcaption {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/*
figure styles
*/
figure {
	position:relative; /* purely to allow absolution positioning of figcaption */
	overflow: hidden;
}

.gallery figure {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.gallery.hover-effect-grow figure:hover {
	transform: scale(1.05);
}
.gallery.hover-effect-shrink figure:hover {
	transform: scale(0.95);
}
.gallery.hover-effect-slidedown figure:hover {
	transform: translateY(5px);
}
.gallery.hover-effect-slideup figure:hover {
	transform: translateY(-5px);
}

/*
img / a styles
*/

.gallery.hover-effect-zoom figure:hover .img {
	transform: scale(1.05);
}

/*
figcaption styles
*/
.gallery figcaption,
.fancy-figure figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	color: #FFF;
	text-align: center;
	font-size: 75%; /* change this if you want bigger text */
	background: rgba(0, 0, 0, 0.5);
	opacity: 1;
	cursor: pointer;
}

.gallery.caption-position-none figcaption,
.fancy-figure.caption-position-none figcaption  {
	display: none;
}

.gallery.caption-position-center figcaption,
.fancy-figure.caption-position-center figcaption {
	top: 0;
	padding: 40% 5px;
}

.gallery.caption-position-bottom figcaption,
.fancy-figure.caption-position-bottom figcaption {
	padding: 5px;
}

.gallery.caption-effect-fade figure:not(:hover) figcaption,
.gallery.caption-effect-appear figure:not(:hover) figcaption,
.fancy-figure.caption-effect-fade figure:not(:hover) figcaption,
.fancy-figure.caption-effect-appear figure:not(:hover) figcaption {
	background: rgba(0, 0, 0, 0);
	opacity: 0;
}

.gallery.caption-effect-slide.caption-position-bottom figure:not(:hover) figcaption,
.fancy-figure.caption-effect-slide.caption-position-bottom figure:not(:hover) figcaption {
	margin-bottom: -100%;
}

.gallery.caption-effect-slide.caption-position-center figure:not(:hover) figcaption,
.fancy-figure.caption-effect-slide.caption-position-center figure:not(:hover) figcaption  {
	top: 100%;
}
figcaption p {
	margin: auto; /* override style in theme */
}

/* gallery styles */
.pswp__caption__center {
	text-align: center;
}
