/* --- Variables --- */
$bg: #fff;
$bg-grey: #f5f5f5;
$text-color: #404040;
$link: #0057a3;
$hover-color: #0085a1;
$navbar-item-hover-color: $hover-color;

$sans-font: 'FiraSans', sans-serif;
$serif-font: 'CharisSILW', serif;
$mono-font: 'FiraCode', monospace;

/* --- Imports --- */
@import "bulma/utilities/_all.sass";
@import "bulma/base/_all.sass";
@import "bulma/components/navbar.sass";
@import "bulma/components/pagination.sass";
@import "bulma/helpers/typography.sass";
@import "bulma/grid/columns.sass";
@import "bulma/layout/footer.sass";

/* --- General --- */

body {
  font-family: $serif-font;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  color: $text-color;
  position: relative;
  background: $bg;
  margin: 0px;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.columns[role=main] {
  margin-bottom: 50px;
  margin-left: 3vw;
  margin-right: 3vw;
}

a {
  color: $text-color;
  font-weight: 800;
}

p {
  line-height: 1.5;
  margin: 6px 0;
}

p + p {
  margin: 24px 0 6px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-font;
  font-weight: 800;
}

h1 {
  @extend .is-size-2;
}

h2 {
  @extend .is-size-3;
}

h3 {
  @extend .is-size-4;
}

a:hover,
a:focus {
  color: $hover-color;
}

/*blockquote {*/
  /*color: #808080;*/
  /*font-style: italic;*/
/*}*/

/*blockquote p:first-child {*/
  /*margin-top: 0;*/
/*}*/

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 80px;
}

@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 130px;
  }
}

/*.main-explain-area {*/
  /*font-family: 'FiraSans', sans-serif;*/
  /*padding: 15px inherit;*/
/*}*/

/*.hideme {*/
  /*display: none;*/
/*}*/

div.panel-body a.list-group-item {
  font-family: $sans-font;
  font-weight: 800;
  border-radius: 0;
  border: none;
}

div.panel-group .panel {
  border-radius: 0;
}

div.panel-group .panel + .panel {
  margin-top: 0;
}

div.panel-body a.list-group-item.view-all {
  font-weight: 600;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}

::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

ul, ol
{
  padding-left: 3em;
}

ul {
  list-style: disc;
}

li.previous, li.next
{
  list-style: none;
}

/* --- Navbar --- */

.navigation {
  @extend .navbar;
  background: $bg-grey;
  border-bottom: 1px solid #eaeaea;
  font-family: $sans-font;
}

.navbar-item {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

a.navbar-item:hover,
a.navbar-item:focus {
  color: $hover-color;
}

@media only screen and (min-width: 768px) {
  .navigation {
    padding: 10px 0;
  }

  .navbar-brand a.navbar-item {
    display: block;
  }
}

/* Multi-level navigation links */
.has-dropdown .navbar-item::after {
  content: " \25BC";
}

.navbar-dropdown .navbar-item::after {
  content: "";
}
.navbar-dropdown {
  background: #eee;
}

@media only screen and (max-width: 767px) {
  .navigation .nav .navlinks-container.show-children {
    background: #eee;
  }

  .navigation .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-dropdown a:hover {
    background: #eee;
  }
}

/* --- Footer --- */

footer {
  padding: 30px 0;
  background: $bg-grey;
  border-top: 1px #eaeaea solid;
  margin-top: auto;
  font-size: 14px;
}

footer a {
  color: $text-color;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-family: $sans-font;
  text-align: center;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }

  footer .footer-links {
    font-size: 18px;
    text-align: center;
  }

  footer .copyright {
    font-size: 16px;
  }
}

/* --- Post preview --- */
.posts-list {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.post-preview {
  padding: 15px 0;
}

@media only screen and (min-width: 768px) {
  .post-preview {
    padding: 20px 0;
  }
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a {
  text-decoration: none;
  color: #404040;
}

.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
  color: #0085a1;
}

.post-preview .post-title {
  font-size: 30px;
  margin-top: 0;
}

.post-preview .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

.post-preview .post-meta,
.heading .post-meta {
  color: #808080;
  font-size: 18px;
  margin: 0 5px 10px;
}

.post-preview .post-entry {
  font-family: $sans-font;
}

.post-entry-container {
  display: inline-block;
  width: 100%;
}

.post-entry {
  width: 100%;
  margin-top: 10px;
}

.post-image {
  float: right;
  height: 192px;
  width: 192px;
  margin-top: -35px;
  filter: grayscale(90%);
}

.post-image:hover {
  filter: grayscale(0%);
}

.post-image img {
  border-radius: 100px;
  height: 192px;
  width: 192px;
}

.post-preview .post-read-more {
  font-weight: 800;
  float: right;
}

@media only screen and (min-width: 768px) {
  .post-preview .post-title {
    font-size: 36px;
  }
}

/*--- Pagination ---*/
.pagination-previous:hover, .pagination-next:hover, .pagination-link:hover {
    color: $hover-color;
}
/* -- Post -- */

.heading {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.blog-post {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

/* --- Tags --- */

.blog-tags {
  font-family: $sans-font;
  color: #999;
  font-size: 15px;
  margin-bottom: 30px;
}

.blog-tags::before {
  content: "Tags: ";
}

.blog-tags a {
  color: #0057a3;
  text-decoration: none;
  padding: 0 5px;
}

.blog-tags a::before {
  content: "#";
}

.blog-tags a:hover {
  border-radius: 2px;
  color: $hover-color;
  background-color: #ccc;
}

.post-preview .blog-tags {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-preview .blog-tags {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .post-image,
  .post-image img {
    height: 100px;
    width: 100px;
  }

  .post-image {
    width: 100%;
    text-align: center;
    margin-top: 0;
    float: left;
  }
}

/* --- Post and page headers --- */

.intro-header {
  margin: 40px 3vw 20px;
  position: relative;
}

/*.intro-header.big-img {*/
  /*background: no-repeat center center;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
  /*margin-top: 51px; [> The small navbar is 50px tall + 1px border <]*/
  /*margin-bottom: 35px;*/
/*}*/

/*.intro-header.big-img .big-img-transition {*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*opacity: 0;*/
  /*background: no-repeat center center;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
  /*-webkit-transition: opacity 1s linear;*/
  /*-moz-transition: opacity 1s linear;*/
  /*transition: opacity 1s linear;*/
/*}*/

.intro-header .page-heading,
.intro-header .tags-heading {
  text-align: center;
}

/*.intro-header.big-img .page-heading,*/
/*.intro-header.big-img .heading {*/
  /*padding: 100px 0;*/
  /*color: #fff;*/
  /*text-shadow: 1px 1px 3px #000;*/
/*}*/

.intro-header .page-heading h1,
.intro-header .tags-heading h1 {
  @extend .is-size-1;
  margin-top: 0;
}

.intro-header .heading h1,
.intro-header .g-heading h1 {
  @extend .is-size-1;
  margin-top: 0;
}

.intro-header .page-heading .page-subheading,
.intro-header .heading .p-subheading {
  @extend .is-size-2;
  line-height: 1.1;
  display: block;
  font-family: $sans-font;
  font-weight: 300;
  margin: 10px 0 0;
}

.intro-header .heading .p-subheading {
  margin-bottom: 20px;
}

/*.intro-header.big-img .page-heading .page-subheading,*/
/*.intro-header.big-img .heading .p-subheading {*/
  /*font-weight: 400;*/
/*}*/

/*.intro-header.big-img .page-heading hr {*/
  /*-webkit-box-shadow: 1px 1px 3px #000;*/
  /*-moz-box-shadow: 1px 1px 3px #000;*/
  /*box-shadow: 1px 1px 3px #000;*/
/*}*/

/*.intro-header.big-img .heading .post-meta {*/
  /*color: #eee;*/
/*}*/

/*.intro-header.big-img .img-desc {*/
  /*background: rgba(30, 30, 30, 0.6);*/
  /*position: absolute;*/
  /*padding: 5px 10px;*/
  /*font-size: 11px;*/
  /*color: #eee;*/
  /*font-family: $sans-font;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*display: none;*/
/*}*/

@media only screen and (min-width: 768px) {
  /*.intro-header.big-img .page-heading,*/
  /*.intro-header.big-img .heading {*/
    /*padding: 150px 0;*/
  /*}*/

  .intro-header .g-heading{
    text-align: center;
  }

  /*.intro-header.big-img .img-desc {*/
    /*font-size: 14px;*/
  /*}*/
}

.header-section.has-img .no-img {
  background: #fcfcfc;
  margin: 0 0 40px;
  padding: 20px 0;
  box-shadow: 0 0 5px #aaa;
}

/* Many phones are 320 or 360px, so make sure images are a proper aspect ratio in those cases */
.header-section.has-img .intro-header.no-img {
  display: none;
}

@media only screen and (max-width: 365px) {
  .header-section.has-img .intro-header.no-img {
    display: block;
  }

  /*.intro-header.big-img {*/
    /*width: 100%;*/
    /*height: 220px;*/
  /*}*/

  /*.intro-header.big-img .page-heading,*/
  /*.intro-header.big-img .heading {*/
    /*display: none;*/
  /*}*/

  /*.header-section.has-img .big-img {*/
    /*margin-bottom: 0;*/
  /*}*/
}

/*@media only screen and (max-width: 325px) {*/
  /*.intro-header.big-img {*/
    /*height: 200px;*/
  /*}*/
/*}*/

/*.caption {*/
  /*text-align: center;*/
  /*font-size: 14px;*/
  /*padding: 10px;*/
  /*font-style: italic;*/
  /*margin: 0;*/
  /*display: block;*/
  /*border-bottom-right-radius: 5px;*/
  /*border-bottom-left-radius: 5px;*/
/*}*/

/* --- Tables --- */
/*table {*/
  /*padding: 0;*/
/*}*/

/*table tr {*/
  /*border-top: 1px solid #ccc;*/
  /*background-color: #fff;*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

/*table tr:nth-child(2n) {*/
  /*background-color: #f8f8f8;*/
/*}*/

/*table tr th {*/
  /*font-weight: bold;*/
  /*border: 1px solid #ccc;*/
  /*text-align: left;*/
  /*margin: 0;*/
  /*padding: 6px 13px;*/
/*}*/

/*table tr td {*/
  /*border: 1px solid #ccc;*/
  /*text-align: left;*/
  /*margin: 0;*/
  /*padding: 6px 13px;*/
/*}*/

/*table tr th :first-child,*/
/*table tr td :first-child {*/
  /*margin-top: 0;*/
/*}*/

/*table tr th :last-child,*/
/*table tr td :last-child {*/
  /*margin-bottom: 0;*/
/*}*/

/* IPython split style */
/*div.splitbox {*/
  /*width: 100%;*/
  /*overflow: auto;*/
/*}*/

/*div.splitbox div.left {*/
  /*width: 48%;*/
  /*float: left;*/
/*}*/

/*div.splitbox div.right {*/
  /*width: 48%;*/
  /*float: right;*/
/*}*/

/*@media only screen and (max-width: 600px) {*/
  /*div.splitbox div.left {*/
    /*width: 100%;*/
    /*float: left;*/
  /*}*/

  /*div.splitbox div.right {*/
    /*width: 100%;*/
    /*float: left;*/
  /*}*/
/*}*/

/* Related posts */
h4.see-also {
  margin-top: 20px;
}

/* --- Figure --- */
figure img {
  display: block;
  margin: auto;
}

figure div picture img {
  object-fit: contain;
}

figcaption {
  text-align: center;
}

figcaption h4 {
  font-family: $serif-font;
  font-size: 16px;
}

.post-preview-header-container {
  position: relative;
  height: 100%;
}

.post-preview-header {
  background: #f5f5f5;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

@media only screen and (min-width: 756px) {
  .post-preview-header {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.fancy-figure {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Post galleries */
.blog-post .gallery
{
  max-width: calc(750px + 0.5rem);
  margin-left: auto;
  margin-right: auto;
}
/* Portfolio Galleries*/
.gallery-container {
  margin-left: 20px;
  margin-right: 20px;
}

/* Video embed*/
.embed {
  margin-top: calc(0.5rem);
  margin-bottom: calc(0.5rem);
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.embed iframe {
  width: 100%;
  height: 100%;
  bottom: 0px;
  position: absolute;
}

/* Keyboard */
kbd {
  font-family: $mono-font;
  font-weight: 500;
  padding:2px 4px;
  font-size:90%;
  color:#fff;
  background-color:#333;
  border-radius:3px;
  box-shadow:inset 0 -1px rgba(0,0,0,.25);
}

kbd kbd{
  padding:0;
  font-size:100%;
  font-weight:700;
  box-shadow:none;
}

/* Code */
code, .highlight {
  font-family: $mono-font;
}
