{{ $main := resources.Get "css/main.scss" | toCSS | resources.Minify | resources.Fingerprint}}
<link rel="stylesheet" href="{{ $main.Permalink }}"/>

<!--Preload fonts-->
<link rel="preload" href="/font/FiraSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/font/FiraSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/font/forkawesome-webfont.woff2" as="font" type="font/woff2" crossorigin>

{{ $fonts := resources.Get "css/fonts.css" }}
{{ $forkawesome := resources.Get "css/icons.scss" | toCSS }}
{{ $fontBundle := slice $fonts $forkawesome | resources.Concat "css/fontBundle.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet preload" href="{{ $fontBundle.Permalink }}" as="style"/>
<link rel="stylesheet preload" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" as="style" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
