<footer class="footer">
  <div class="footer-links">
    {{ range .Site.Data.kireihugo.social.social_icons }}
      {{- if isset $.Site.Author .id }}
          <a {{ if eq .title "Mastodon"}}rel="me" {{ end }}href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}">
            <span class="social-stack">
              <span class="social-circle"></span>
              <span class="{{ .icon }} social-icon"></span>
            </span>
          </a>
      {{- end -}}
    {{ end }}
    {{ if .Site.Params.rss }}
      <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="RSS">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    {{ end }}
  </div>
  <p class="copyright">
    {{ if .Site.Author.name }}
      {{ if .Site.Author.website }}
        <a href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
      {{ else }}
        {{ .Site.Author.name }}
      {{ end }}
    {{ end }}

    &nbsp;&bull;&nbsp;
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0</a> {{i18n "unlessLicense"}}

    {{ if .Site.Title }}
      &nbsp;&bull;&nbsp;
      <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
    {{ end }}
  </p>
</footer>

{{ $mainJS := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $mainJS.Permalink }}" async></script>

{{ if .Site.IsServer }}
<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: "$$", right: "$$", display: true},
        {left: "$", right: "$", display: false},
        {left: "\\(", right: "\\)", display: false},
        {left: "\\[", right: "\\]", display: true}
      ]
    });
});
</script>
{{ end }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.js" integrity="sha384-QELNnmcmU8IR9ZAykt67vGr9/rZJdHbiWi64V88fCPaOohUlHCqUD/unNN0BXSqy" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe-ui-default.min.js" integrity="sha384-m67o7SkQ1ALzKZIFh4CiTA8tmadaujiTa9Vu+nqPSwDOqHrDmxLezTdFln8077+q" crossorigin="anonymous" defer></script>
{{ $loadPhotoswipe := resources.Get "js/load-photoswipe.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $loadPhotoswipe.Permalink }}" defer></script>
