{{- if eq .Kind "taxonomy" }}
  {{ $title := .Data.Plural }}
  {{ if eq $title "t" }}
    {{ $title = "Tags" }}
  {{ end }}
  {{- $.Scratch.Set "Title" $title }}
{{- else if eq .Kind "term" }}
  {{- $title := printf "#%s" $.Title }}
  {{- $.Scratch.Set "Title" $title }}
{{- else }}
  {{- $.Scratch.Set "Title" ( .Title | default .Site.Title ) }}
{{- end }}

  <meta charset="utf-8" />
  <meta content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Site Title, Description, Author, and Favicon -->
{{- with ($.Scratch.Get "Title") }}
  {{- if eq . $.Site.Title }}
  <title>{{ $.Site.Title }}</title>
  {{- else -}}
  <title>{{ . }} - {{ $.Site.Title }}</title>
  {{- end -}}
{{- end }}
{{- with .Site.Author.name }}
  <meta name="author" content="{{ . }}"/>
{{- end }}
{{- partial "seo/main.html" . }}
{{- with .Site.Params.favicon }}
  <link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
{{- end -}}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
<!-- Hugo Version number -->
  {{ hugo.Generator -}}
<!-- Links and stylesheets -->
  <link rel="alternate" href="{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
  {{- partialCached "css.html" . }}
