{{- partialCached "load-photoswipe-theme.html" . }}

{{ if .IsHome }}
  {{ if .Site.Params.homeTitle }}
    {{ $.Scratch.Set "title" .Site.Params.homeTitle }}
  {{ else }}
    {{ $.Scratch.Set "title" .Site.Title }}
  {{ end }}
  {{ if .Site.Params.subtitle }}{{ $.Scratch.Set "subtitle" .Site.Params.subtitle }}{{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
  {{ if .Params.subtitle }}{{ $.Scratch.Set "subtitle" .Params.subtitle }}{{ end }}
{{ end }}
{{ $title := $.Scratch.Get "title" }}
{{ if eq $title "T" }}
  {{ $title = "Tags" }}
{{ end }}
{{ $subtitle := $.Scratch.Get "subtitle" }}

{{ if $title }}
  <header class="header-section">
    <div class="intro-header">
      {{ $subtitle := $.Scratch.Get "subtitle" }}
      <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="{{ if .IsHome }}page-{{ end }}heading">
              {{ if eq .Type "list" }}
                <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
              {{ else }}
                <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
              {{ end }}
              {{ if $subtitle }}
                {{ if eq .Type "p" }}
                  <span class="{{ .Type }}-subheading">{{ $subtitle }}</span>
                {{ else }}
                  <h2 class="{{ .Type }}-subheading">{{ $subtitle }}</h2>
                {{ end }}
              {{ end }}
              {{ if eq .Type "p" }}
                {{ partialCached "post_meta.html" . .Permalink}}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ else }}
  <div class="intro-header"></div>
{{ end }}
