<nav class="navigation" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ "" | absLangURL }}">
      <img src="{{ .Site.BaseURL }}/img/logo.png" alt="{{ .Site.Title }}">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" data-target="navMenu" aria-expanded="false">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
{{ range .Site.Menus.main.ByWeight }}
  {{ if .HasChildren }}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">{{ .Name }}</a>
        <div class="navbar-dropdown">
    {{ range .Children }}
          <a class="navbar-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
    {{ end }}
        </div>
      </div>
  {{ else }}
      <a class="navbar-item" title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
  {{ end }}
{{ end }}

{{ if .Site.IsMultiLingual }}
  {{ if ge (len .Site.Languages) 3 }}
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">{{ i18n "languageSwitcherLabel" }}</a>
      <div class="navbar-dropdown">
        {{ range .Site.Languages }}
          {{ if not (eq .Lang $.Site.Language.Lang) }}
          <a class="navbar-item" href="/{{ .Lang }}" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  {{ else }}
      {{ range .Site.Languages }}
        {{ if not (eq .Lang $.Site.Language.Lang) }}
          <a class="navbar-item" href="/{{ .Lang }}" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
        {{ end }}
      {{ end }}
  {{ end }}
{{ end }}
   </div>
 </div>
</nav>
