{{ define "main" }}
  <div class="columns" role="main">
    <div class="column is-8 is-offset-2">
      {{ with .Content }}
        <div class="well">
          {{.}}
        </div>
      {{ end }}

      <div class="posts-list">
        {{ $pag := .Paginate (where .Site.RegularPages "Type" "p") }}
        {{ range $pag.Pages }}
          {{ .Render "summary" }}
        {{ end }}
      </div>

      {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        <nav class="pagination" role="navigation" aria-label="navigation">
          {{ if .Paginator.HasPrev }}
            <a class="pagination-next" href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">{{ i18n "newerPosts" }} &rarr;</a>
          {{ else }}
            <a class="pagination-next" disabled>{{ i18n "newerPosts" }} &rarr;</a>
          {{ end }}
          {{ if .Paginator.HasNext }}
            <a class="pagination-previous" href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/"> &larr;{{ i18n "olderPosts" }}</a>
          {{ else }}
            <a class="pagination-previous" disabled> &larr;{{ i18n "olderPosts" }}</a>
          {{ end }}
        </nav>
      {{ end }}
    </div>
  </div>
{{ end }}
