<!--
Put this file in /layouts/shortcodes/figure.html
NB this overrides Hugo's built-in "figure" shortcode but is backwards compatible
Documentation and licence at https://github.com/liwenyip/hugo-easy-gallery/
-->
<!-- count how many times we've called this shortcode; load the css if it's the first time -->
{{ if not ($.Page.Scratch.Get "figurecount") }}
    {{ $easyGalleryCSS := resources.Get "css/hugo-easy-gallery.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $easyGalleryCSS.Permalink }}" defer/>
{{ end }}
{{ $.Page.Scratch.Add "figurecount" 1 }}

<!-- use either src or link-thumb for thumbnail image -->
{{ $src := .Get "link" | default (.Get "src") }}
{{ $thumb := .Get "src" | default (printf "%s." (.Get "thumb") | replace (.Get "link") ".") }}
{{ $webpThumb := (replaceRE "(\\.jpg|\\.png)" ".webp" $thumb) }}
{{ $avifThumb := (replaceRE "(\\.jpg|\\.png)" ".avif" $thumb) }}

{{ $srcURI := printf "static/%s" $src -}}
{{ $thumbURI := printf "static/%s" $thumb -}}
{{ $webpURI := printf "static/%s" $webpThumb -}}
{{ $avifURI := printf "static/%s" $avifThumb -}}

{{ $thumbStats := os.Stat $thumbURI }}
{{ $thumbSize := $thumbStats.Size}}
{{ $webpSize := 0}}
{{ if fileExists $webpURI }}
    {{ $webpStats := os.Stat $webpURI }}
    {{ $webpSize :=  $webpStats.Size }}
{{ end }}
{{ $avifSize := 0}}
{{ if fileExists $avifURI }}
    {{ $avifStats := os.Stat $avifURI }}
    {{ $avifSize :=  $avifStats.Size }}
{{ end }}


{{ $imgData := imageConfig $srcURI -}}
{{ $thumbData := imageConfig $thumbURI -}}
<div
    class="box{{ with .Get "caption-position" }} fancy-figure caption-position-{{.}}{{end}}{{ with .Get "caption-effect" }} caption-effect-{{.}}{{end}}"
    {{ with $thumbData }}
        style="--w:{{.Width}};--h:{{.Height}};max-width:{{.Width}}px"
    {{end}}
>
    <figure {{ with .Get "class" }}class="{{.}}"{{ end }} itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <div
            class="img {{if fileExists $avifURI}} avif{{end}}{{if fileExists $webpURI}} webp{{end}}"
            {{ with $imgData }}
                data-size="{{.Width}}x{{.Height}}"
            {{ end }}
        >
            <picture>
{{ if and (fileExists $avifURI) (lt $avifSize $thumbSize) }}
    {{ if or (not (fileExists $webpURI)) (lt $avifSize $webpSize) }}
                <source srcset="/{{ $avifThumb }}" type="image/avif">
    {{ end }}
{{ end }}
{{ if and (fileExists $webpURI) (lt $webpSize $thumbSize) }}
                <source srcset="/{{ $webpThumb }}" type="image/webp">
{{ end }}
                <source srcset="/{{ $thumb }}" type="image/{{ if findRE "\\.jpe?g" $thumb }}jpeg{{ else }}png{{ end }}">
               <img itemprop="thumbnail" src="/{{ $thumb }}"
               {{ with .Get "alt" | default (.Get "caption" | markdownify | emojify | plainify) }}alt="{{.}}"{{ end }}/><!-- <img> hidden if in .gallery -->
            </picture>
    </div>
    {{ with .Get "link" | default (.Get "src") }}<a href="/{{.}}" itemprop="contentUrl"></a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
      <figcaption>
        {{ with .Get "title" }}<h4>{{.}}</h4>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}
          <p>
            {{ .Get "caption" | markdownify | emojify }}
            {{ with .Get "attrlink"}}<a href="/{{.}}">{{ .Get "attr" }}</a>{{ else }}{{ .Get "attr"}}{{ end }}
          </p>
        {{ end }}
      </figcaption>
    {{ end }}
  </figure>
</div>
