<!--
Put this file in /layouts/shortcodes/gallery.html
Documentation and licence at https://github.com/liwenyip/hugo-easy-gallery/
-->
<!-- count how many times we've called this shortcode; load the css if it's the first time -->
{{- if not ($.Page.Scratch.Get "figurecount") }}<link rel="stylesheet" href="/css/hugo-easy-gallery.css" defer/>{{ end }}
{{- $.Page.Scratch.Add "figurecount" 1 }}
{{ $baseURL := .Site.BaseURL }}
<div class="gallery caption-position-{{ with .Get "caption-position" | default "bottom" }}{{.}}{{end}} caption-effect-{{ with .Get "caption-effect" | default "slide" }}{{.}}{{end}} hover-effect-{{ with .Get "hover-effect" | default "zoom" }}{{.}}{{end}} {{ if ne (.Get "hover-transition") "none" }}hover-transition{{end}}" itemscope itemtype="http://schema.org/ImageGallery">
{{- with (.Get "dir") -}}
	<!-- If a directory was specified, generate figures for all of the images in the directory -->
	{{- $files := readDir (print "/static/" .) }}
	{{- range $files -}}
		<!-- skip files that aren't images, or that include the thumb suffix in their name -->
		{{- $thumbext := $.Get "thumb" | default "-thumb" }}
		<!-- is the current file a thumbnail image? -->
		{{- $isthumb := .Name | findRE ($thumbext | printf "%s\\.") }}
		<!-- is the current file an image? -->
		{{- $isimg := lower .Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp)" }}
		{{- if and $isimg (not $isthumb) }}
			<!-- humanized filename without extension -->
			{{- $caption :=  .Name | replaceRE "\\..*" "" | humanize }}
			<!-- absolute URL to hi-res image -->
			{{- $linkURL := print $baseURL ($.Get "dir") "/" .Name | absURL }}
			<!-- filename of thumbnail image -->
			{{- $thumb := .Name | replaceRE "(\\.)" ($thumbext | printf "%s.") }}
			<!-- does a thumbnail image exist? -->
			{{- $thumbexists := where $files "Name" $thumb }}
			<!-- absolute URL to thumbnail image -->
			{{- $thumbURL := print $baseURL ($.Get "dir") "/" $thumb | absURL }}
	<div class="box">
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			<div class="img" style="background-image: url('{{ if $thumbexists }}{{ $thumbURL }}{{ else }}{{ $linkURL }}{{ end }}');" >
				<img itemprop="thumbnail" src="{{ if $thumbexists }}{{ $thumbURL }}{{ else }}{{ $linkURL }}{{ end }}" alt="{{ $caption }}" /><!-- <img> hidden if in .gallery -->
			</div>
			<figcaption>
				<p>{{ $caption }}</p>
			</figcaption>
			<!-- put <a> last so it is stacked on top -->
			<a href="{{ $linkURL }}" itemprop="contentUrl"></a>
		</figure>
	</div>
		{{- end }}
	{{- end }}
{{- else -}}
	<!-- If no directory was specified, include any figure shortcodes called within the gallery -->
	{{ .Inner }}
{{- end }}
</div>
