<div class="embed video-player">
  <iframe sandbox="allow-same-origin allow-scripts allow-popups" src="https://diode.zone/videos/embed/{{ index .Params 0 }}" frameborder="0" allowfullscreen>
  </iframe>
</div>
